/* RaWiLOGIC Variablen-Definition DarkTheme */
/* Fonts */
$font-family:      "Verdana", sans-serif;
$font-family-code: "Courier","Courier New",monospace;
/* Farben */
$color-bg:             #000000;
$color-border:         #444444;
$color-header-from:    #39393d;
$color-header-to:      #23232a;
$color-headline:       #2981c4;
$color-plaintxt:       #cccccc;
$color-marktext:       #b60303;
$color-link:           #aad6f8;
$color-hover:          #fd8f00;
$color-active:         #2981c4;
$color-focus:          #2981c4;
// RangeSlider
$color-rs-rangebg:     #555555;
$color-rs-border:      #444444;
$color-rs-thumb:       #2981c4;
$color-rs-thumb-hover: #fd8f00;
// Scrollbar
$color-sb-trackbg:      #383838;
$color-sb-thumb:        #484848;
$color-sb-thumbhover:   #4f4f4f;
